<!DOCTYPE html>
<html>

<head>
    <title>Calcular Promedio de Notas</title>
</head>

<body>
    <form action="../controllers/notas.php" method="post">
        <label for="cantidad_notas">Cantidad de Notas:</label>
        <input type="number" id="cantidad_notas" name="cantidad_notas" required>
        <br>
        <label for="nombre_materia">Nombre de la Materia:</label>
        <input type="text" id="nombre_materia" name="nombre_materia" required>
        <br>
        <label for="calificacion_minima">Calificacion Minima:</label>
        <input type="number" id="calificacion_minima" name="calificacion_minima" step="0.01" required>
        <br>
        <label for="calificacion_maxima">Calificacion Maxima:</label>
        <input type="number" id="calificacion_maxima" name="calificacion_maxima" step="0.01" required>
        <br>
        <input type="submit" value="Calcular Promedio">
    </form>
</body>

</html>
